@import '../global/global.scss';

.item{
  color: white;
  border-radius: 50%;
  background-color:$bg;
  width: 160px;
  height: 160px;
  position: relative;
  margin: 0 auto;

  h6{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 28px;
    font-weight: 500;
  }
}

.opis-itema{
  color: $text;
  text-align: center;
  margin-top: 20px;
}


.container {
  margin-top: 150px;
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}
.carousel {
  
  height: 400px;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0);
}
.slider {
  display: flex;
  height: 100%;
  width: 400%;
}
.slider section {
  flex-basis: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 20px;
}
.left, .right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.arrow i {
  font-size: 70px;
  color: $green-hover;
  &:hover{ color:$green }
  
}
.left {
  left: 10px;
}
.right {
  right: 10px;
}
.control ul {
  list-style: none;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin: 0;
  padding: 0;
  transform: translate(-50%);
}
.control ul li {
  width: 10px;
  height: 10px;
  background: #333;
  border: 2px solid #333;
  border-radius: 50px;
  margin: 10px;
  cursor: pointer;
}
.control ul li.selected {
  background: transparent;
}
