

//mobitel  ------ mobile 1st dizajn \\
@media all and (min-width:375px){
    .menu-area {
        ul{
            list-style: none;
            display: flex;
            flex-direction: column;
            background-color: $bg;

            li{
                position: relative;
                width: 100%;
                text-align: center;


                .dropdown {
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    li{
                        display: none;
                        position: relative;
                    }
                }

            &:hover > .dropdown{
                perspective: 1000px;
            }

            &:hover > .dropdown li{
                top: 0;
                display: block;
                transform-origin:top center ;
                opacity: 0;
                

                &:nth-child(1){
                    animation: animate 300ms ease-in-out forwards;
                    animation-delay: -150ms;
                }
                &:nth-child(2){
                    animation: animate 300ms ease-in-out forwards;
                    animation-delay: -0ms;
                }
                &:nth-child(3){
                    animation: animate 300ms ease-in-out forwards;
                    animation-delay: 150ms;
                }
                }

                a{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: $text;
                    height: 50px;
                    text-decoration: none;
                    transition: all 0.2s ease-in-out;

                &:hover{
                    background: $green-hover;
                    }
                }
            }
        }
    }   
    
    @keyframes animate {
        0%{
            opacity: 0;
        }
        50%{
        }
        100%{
            opacity: 1;
        }
    }
}

@media all and (min-width:550px) {

    .menu-area {
        margin-top: 10px;
        ul{
            flex-direction: row;
            margin: 0 auto;

            li a{
                border-radius: 1px;
                margin: 0 5px;
                height: 40px;
                }

            .dropdown li{
                margin-top: 5px;
            }
        }
    }
}

@media all and (min-width:992px) {
    .menu-area {
        ul{
            max-width: 992px;
            margin: 0 auto;
        }
    }
}

@media all and (min-width:1980px) {
    .menu-area {
        ul{
            max-width: 1440px;
            
            li a{
                height: 70px;
            }
        }
    }
}   

@media all and (min-width:4000px) {
    .menu-area {
        ul{
            max-width: 2380px;
            
            li a{
                height: 180px;
            }
        }
    }
}   

