@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,200&display=swap");
* {
  margin: 0;
  padding: 0;
  border-style: none;
  font-family: 'poppins',sans-serif;
}

@media all and (min-width: 375px) {
  .menu-area ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu-area ul li {
    position: relative;
    width: 100%;
    text-align: center;
  }
  .menu-area ul li .dropdown {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .menu-area ul li .dropdown li {
    display: none;
    position: relative;
  }
  .menu-area ul li:hover > .dropdown {
    -webkit-perspective: 1000px;
            perspective: 1000px;
  }
  .menu-area ul li:hover > .dropdown li {
    top: 0;
    display: block;
    -webkit-transform-origin: top center;
            transform-origin: top center;
    opacity: 0;
  }
  .menu-area ul li:hover > .dropdown li:nth-child(1) {
    -webkit-animation: animate 300ms ease-in-out forwards;
            animation: animate 300ms ease-in-out forwards;
    -webkit-animation-delay: -150ms;
            animation-delay: -150ms;
  }
  .menu-area ul li:hover > .dropdown li:nth-child(2) {
    -webkit-animation: animate 300ms ease-in-out forwards;
            animation: animate 300ms ease-in-out forwards;
    -webkit-animation-delay: -0ms;
            animation-delay: -0ms;
  }
  .menu-area ul li:hover > .dropdown li:nth-child(3) {
    -webkit-animation: animate 300ms ease-in-out forwards;
            animation: animate 300ms ease-in-out forwards;
    -webkit-animation-delay: 150ms;
            animation-delay: 150ms;
  }
  .menu-area ul li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #e2e2e2;
    background-color: rgba(31, 31, 31, 0.6);
    height: 50px;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .menu-area ul li a:hover {
    background: #009b48;
  }
  @-webkit-keyframes animate {
    0% {
      opacity: 0;
      -webkit-transform: rotateX(-90deg);
              transform: rotateX(-90deg);
    }
    50% {
      -webkit-transform: rotateX(20deg);
              transform: rotateX(20deg);
    }
    100% {
      opacity: 1;
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
    }
  }
  @keyframes animate {
    0% {
      opacity: 0;
      -webkit-transform: rotateX(-90deg);
              transform: rotateX(-90deg);
    }
    50% {
      -webkit-transform: rotateX(20deg);
              transform: rotateX(20deg);
    }
    100% {
      opacity: 1;
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
    }
  }
}

@media all and (min-width: 550px) {
  .menu-area {
    margin-top: 20px;
  }
  .menu-area ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0 auto;
  }
  .menu-area ul li a {
    border-radius: 1px;
    margin: 0 5px;
    height: 40px;
  }
  .menu-area ul .dropdown li {
    margin-top: 5px;
  }
}

@media all and (min-width: 992px) {
  .menu-area ul {
    max-width: 992px;
    margin: 0 auto;
  }
}

@media all and (min-width: 1980px) {
  .menu-area ul {
    max-width: 1440px;
  }
  .menu-area ul li a {
    height: 70px;
  }
}

@media all and (min-width: 4000px) {
  .menu-area ul {
    max-width: 2380px;
  }
  .menu-area ul li a {
    height: 180px;
  }
}
/*# sourceMappingURL=Navbar.css.map */