@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,200&display=swap");
* {
  margin: 0;
  padding: 0;
  border-style: none;
  font-family: 'poppins',sans-serif;
}

body {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.157)), to(rgba(0, 0, 0, 0.164))), url(./bg2.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.157), rgba(0, 0, 0, 0.164)), url(./bg2.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
}

@media all and (min-width: 375px) {
  .menu-area ul {
    cursor: pointer;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu-area ul li {
    position: relative;
    width: 100%;
  }
  .menu-area ul li .dropdown {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .menu-area ul li .dropdown li {
    position: relative;
    display: none;
  }
  .menu-area ul li:hover > .dropdown li {
    opacity: 0;
    top: 0;
    display: block;
  }
  .menu-area ul li:nth-child(1) {
    -webkit-animation: animate 300ms ease-in-out forwards;
            animation: animate 300ms ease-in-out forwards;
    -webkit-animation-delay: -250ms;
            animation-delay: -250ms;
  }
  .menu-area ul li:nth-child(2) {
    -webkit-animation: animate 300ms ease-in-out forwards;
            animation: animate 300ms ease-in-out forwards;
    -webkit-animation-delay: -0ms;
            animation-delay: -0ms;
  }
  .menu-area ul li:nth-child(3) {
    -webkit-animation: animate 300ms ease-in-out forwards;
            animation: animate 300ms ease-in-out forwards;
    -webkit-animation-delay: 250ms;
            animation-delay: 250ms;
  }
  .menu-area ul li div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #e2e2e2;
    height: 50px;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
  }
  .menu-area ul li div:hover {
    background: rgba(199, 202, 0, 0.438);
  }
  @-webkit-keyframes animate {
    0% {
      opacity: 0;
    }
    50% {
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes animate {
    0% {
      opacity: 0;
    }
    50% {
    }
    100% {
      opacity: 1;
    }
  }
}

@media all and (min-width: 550px) {
  .menu-area {
    margin-top: 10px;
  }
  .menu-area ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0 auto;
  }
  .menu-area ul li a {
    border: 1px solid white;
    position: absolute;
  }
  .menu-area ul .dropdown li {
    margin-top: 5px;
  }
}

@media all and (min-width: 992px) {
  .menu-area ul {
    max-width: 992px;
    margin: 0 auto;
  }
}

@media all and (min-width: 1980px) {
  .menu-area ul {
    max-width: 1440px;
  }
  .menu-area ul li a {
    height: 70px;
  }
}

@media all and (min-width: 4000px) {
  .menu-area ul {
    max-width: 2380px;
  }
  .menu-area ul li a {
    height: 180px;
  }
}
/*# sourceMappingURL=Navbar.css.map */