@import '../global/global.scss';

//mobitel  ------ mobile 1st dizajn \\
@media all and (min-width:375px){
    .menu-area {
        ul{
            cursor: pointer;
            list-style: none;
            display: flex;
            flex-direction: column;
            //background-color: $bg;

            li{
                position: relative;
                width: 100%;

                .dropdown {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    
                    
                    li{
                        position: relative;
                        display: none;
                    }
                }
                
                &:hover > .dropdown  li{
                opacity: 0;
                top: 0;
                display: block;
                }
                

                &:nth-child(1){
                    animation: animate 300ms ease-in-out forwards;
                    animation-delay: -250ms;
                }
                &:nth-child(2){
                    animation: animate 300ms ease-in-out forwards;
                    animation-delay: -0ms;
                }
                &:nth-child(3){
                    animation: animate 300ms ease-in-out forwards;
                    animation-delay: 250ms;
                }
                

                div{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: $text;
                    height: 50px;
                    text-decoration: none;
                    transition: all 0.2s ease-in-out;
                    cursor: pointer;

                &:hover{
                    background: $green-hover;
                    }
                }
            }
        }
    }   
    
    @keyframes animate {
        0%{
            opacity: 0;
        }
        50%{
        }
        100%{
            opacity: 1;
        }
    }
}

@media all and (min-width:550px) {

    .menu-area {
        margin-top: 10px;
        ul{
            flex-direction: row;
            margin: 0 auto;

            li a{
                border: 1px solid white;
                position: absolute;
                }

            .dropdown li{
                margin-top: 5px;
            }
        }
    }
}

@media all and (min-width:992px) {
    .menu-area {
        ul{
            max-width: 992px;
            margin: 0 auto;
        }
    }
}

@media all and (min-width:1980px) {
    .menu-area {
        ul{
            max-width: 1440px;
            
            li a{
                height: 70px;
            }
        }
    }
}   

@media all and (min-width:4000px) {
    .menu-area {
        ul{
            max-width: 2380px;
            
            li a{
                height: 180px;
            }
        }
    }
}   

